html {
    height:100%;
}

.wrapper { 
    position: relative;
    display: block;
    min-width: 960px;
    min-height: 700px;
}

nav {
    position:relative;
    margin-left: 166px;
    margin-right: 166px;
}
nav a {

    font-size:20px;
    text-decoration: none;
    margin: 60px;
}



a {
    text-decoration: none;
    color: rgb(255, 0, 76);
}

p {
    padding: 10px;
    font-size: 20px;
    position:relative;
}

h1 {
    color: rgb(43, 70, 226);
    position:relative;
}


.n1 {
    position:relative;
    border: 3px solid rgb(0, 255, 136);
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    border-radius: 10px;
    background-color: rgb(0, 255, 136);
    width: 1200px;
}

.icon {

    margin-left: -5px;
    position:relative;
    width: 50px;
    height: 50px;
}

header img {
    position:relative;
    margin-bottom: 30px;
    margin-left: 166px;
    margin-right: 166px;
    width: 1200px;
    height: 400px;
}

main {
    text-align: left;
    margin-top: 30px;
    margin-left: 166px;
    margin-right: 166px;
}

header {
    margin-left: 166px;
    margin-right: 166px;
    text-align: center;
}
