body {
    
    background-attachment:fixed;
    height:100%;
    background:url(http://drive.google.com/uc?export=view&id=1mWh4YDXgDEyfltcMejtCIJORfbil3KlB);
}

.wrapper { 
    position: relative;
    display: block;
    min-width: 960px;
    min-height: 700px;
}

nav {
    border-radius: 10px;
    position:relative;

}
nav a {
    text-shadow: 2px 2px 2px rgb(2, 2, 2);
    font-size:30px;
    text-decoration: none;
    margin: 100px;
}



a {
    text-decoration: none;
    color: rgb(251, 255, 0);
}

p {
    padding: 10px;
    font-size: 20px;
    position:relative;
}

h1 {
    text-shadow: 1px 1px 1px rgba(1, 5, 14, 0.918);
    font-size: 50px;
    color: rgb(3, 250, 209);
    position:relative;
}


.n1 {
    position:relative;
    border: 3px solid rgb(0, 255, 136);
    font-family: sans-serif;
    font-weight: normal;
    border-radius: 10px;
    background-color: rgb(0, 255, 98);
    width: 800px;
    margin-right: 130px;
}

.icon {

    margin-left: -5px;
    position:relative;
    width: 50px;
    height: 50px;
}

header img {
    position:relative;
    margin-bottom: 30px;
    margin-left: 166px;
    margin-right: 166px;
    width: 1200px;
    height: 400px;
}

main a {
    color: rgba(165, 56, 42, 0.945);
}

main {
    text-align: left;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    margin-left: 166px;
    margin-right: 166px;
    text-align: center;
}

header p {
    text-shadow: 2px 2px 2px rgb(2, 2, 2);
    font-size: 30px;
    color: rgb(3, 250, 209);
}

footer {
    text-shadow: 2px 2px 2px rgb(2, 2, 2);
    font-size: 30px;
    color: rgb(3, 250, 209);    
}

footer p {
    border-radius: 10px;
}

footer img {
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    height: 40px;
    position:relative;    
}

.advertising {
    width: 95%;
}
